/* Codigo de los CSS*/
.menu-izq
{
    background-color: rgb(174,218,229,0.7);
}
.buscador
{
    margin-top: 20px;
}
.texto
{
    color: deeppink;
    margin-left: 13px;
}
.texto1
{
    color: white;
}
.gastro-cuerpo
{
    background: url(../../media/img/Gastronom%C3%ADa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.nombre-slogan, .menu-y-blog
{
    background-color: rgb(50,50,50,0.3);
}
.divisor
{
    border-right: 2px solid white;
}
.comida-favorita
{
    width: 100%;
}
.opcion-menu
{
    border: 1px solid pink;
    text-align: center;
}
.opcion-menu:hover
{
    background-color: antiquewhite;
}
.items
{
    color: deeppink;
}
.list-group-item:hover
{
    background-color: antiquewhite;
}
.card, .card-divider
{
    background-color: rgb(255,208,221);
}
.button
{
    background-color: hotpink;
}
.list-group, .side-nav
{
    list-style:none;
}
.fotos_2
{
    margin-top: 5px;
}
.comentarios
{
    border-top: 2px solid white;
}
textarea
{
    height: 70px;
}