body
{
    background-image: url(../../media/img/fondo.jpg);
}
.logo
{
  width: 100px;
  margin-top: 0.5rem;
  float: left;
}
.Slogan
{
    color: white;
}
.btn
{
    margin-top: 8px;
}
.redes_sociales
{
    width: 48px;
    margin-top: 0.5rem;
    float: left;
}
.Lugar_filas
{
    width: 100%;
}
.arco_flores
{
    width: 60%;
    margin-top: 7px;
}
.chip
{
    margin-top: 7px;
}
.enviar
{
    float: right;
}
.autor
{
    text-align: center;
}
.autor-foto
{
    border-radius: 100%;
    width: 100%;
}